Repository weronikaolejniczak/weather-app: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: 'src/*.{ts,tsx}'
      run: pnpm lint --fix {staged_files}
    prettier:
      glob: 'src/*'
      run: pnpm format --write {staged_files}

feat: add a custom hook for clicking outside of element
  src/hooks/use-click-outside.ts
Due: eslint, prettier

refactor: remove unused CSS variables
  src/index.css
Due: prettier

feat: write a function to capitalize first letter of each word
  src/utils/capitalize-words.test.ts
  src/utils/capitalize-words.ts
Due: eslint, prettier

refactor: remove unused Storybook addons
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
Due: none

feat: add a Combobox for searching
  .storybook/preview.ts
  src/components/ui/combobox.stories.tsx
  src/components/ui/combobox.tsx
  src/components/ui/input.tsx
  src/pages/dashboard.tsx
  src/tests/dashboard.test.tsx
  src/tests/setup.ts
  tailwind.config.js
Due: eslint, prettier

feat: update favicon and title
  index.html
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
  public/vite.svg
Due: none

fix: dismiss error toast on successful request
  src/api/weather/hooks.ts
  src/pages/dashboard.tsx
Due: eslint, prettier

feat: allow for an icon in Input component
  src/components/ui/input.tsx
Due: eslint, prettier

feat: use a magnifier icon in the search input
  src/assets/icons/magnifier.svg
  src/pages/dashboard.tsx
Due: eslint, prettier

chore: update README.md file
  README.md
Due: none

feat: allow for a className in the Logo component
  src/components/ui/logo.tsx
Due: eslint, prettier

feat: self-center the logo on the dashboard page
  src/pages/dashboard.tsx
Due: eslint, prettier

feat: add a loading spinner icon to the search input
  src/assets/icons/loading-spinner.svg
  src/pages/dashboard.tsx
Due: eslint, prettier

feat: implement dynamic background images
  public/assets/backdrops/dark/aleksandr-popov-tRFehFzhlcc-unsplash.jpg
  public/assets/backdrops/dark/anik-deb-nath-s8LnUtWFmW0-unsplash.jpg
  public/assets/backdrops/dark/jernej-graj-n44KHcbp1_E-unsplash.jpg
  public/assets/backdrops/dark/johannes-plenio-E-Zuyev2XWo-unsplash.jpg
  public/assets/backdrops/dark/noah-grossenbacher-_7hiYkKVmsk-unsplash.jpg
  public/assets/backdrops/dark/paul-volkmer-iFGZbWs2qSA-unsplash.jpg
  public/assets/backdrops/dark/roan-lavery-UaxkX3rJh68-unsplash.jpg
  public/assets/backdrops/dark/scott-van-hoy-nT-hGJLbn0s-unsplash.jpg
  public/assets/backdrops/dark/trevor-gerzen-IUUoaVtL7NE-unsplash.jpg
  public/assets/backdrops/light/andrei-lazarev-KM8yDRXV7yQ-unsplash.jpg
  public/assets/backdrops/light/cate-bligh-lX5wMeZUidA-unsplash.jpg
  public/assets/backdrops/light/danist-soh-5D47VsGV86c-unsplash.jpg
  public/assets/backdrops/light/inge-maria-pv2ZlDfstXc-unsplash.jpg
  public/assets/backdrops/light/raychel-sanner-1cJXplTxrmI-unsplash.jpg
  public/assets/backdrops/light/rebecca-prest-F0rQieonv3c-unsplash.jpg
  public/assets/backdrops/light/ritam-baishya-ROVBDer29PQ-unsplash.jpg
  public/assets/backdrops/light/stanley-dai-QLfjlyEamV4-unsplash.jpg
  public/assets/backdrops/light/thomas-couillard-63z4rEJBHao-unsplash.jpg
  src/api/types.ts
  src/constants/backdrops.ts
  src/constants/theme.ts
  src/pages/dashboard.tsx
  src/utils/get-weather-condition-data.tsx
  src/utils/transform-backdrops.ts
  tailwind.config.js
Due: eslint, prettier

fix: update all icons to use currentColor as fill
  src/assets/icons/broken-clouds.svg
  src/assets/icons/clear-sky.svg
  src/assets/icons/drop.svg
  src/assets/icons/few-clouds.svg
  src/assets/icons/loading-spinner.svg
  src/assets/icons/magnifier.svg
  src/assets/icons/mist.svg
  src/assets/icons/rain.svg
  src/assets/icons/scattered-clouds.svg
  src/assets/icons/shower-rain.svg
  src/assets/icons/snow.svg
  src/assets/icons/thunderstorm.svg
  src/assets/icons/wind.svg
Due: prettier

feat: implement dark mode and adjust component
  src/components/ui/combobox.tsx
  src/components/ui/input.tsx
  src/components/ui/logo.tsx
  src/components/ui/separator.tsx
  src/hooks/use-media-query.ts
  src/hooks/use-theme.ts
  src/pages/dashboard.tsx
Due: eslint, prettier

feat: add a manual dark mode toggle
  src/assets/icons/moon-toggle.svg
  src/assets/icons/sun-toggle.svg
  src/components/theme-toggle.tsx
  src/hooks/use-theme.ts
  src/pages/dashboard.tsx
Due: eslint, prettier

chore: update README.md
  README.md
Due: none

fix: update backdrops to be clearer
  public/assets/backdrops/dark/kym-mackinnon-j9ncMni2Xhs-unsplash.jpg
  public/assets/backdrops/dark/trevor-gerzen-IUUoaVtL7NE-unsplash.jpg
  public/assets/backdrops/light/marco-bianchetti-DJqJy3k1mCA-unsplash.jpg
  public/assets/backdrops/light/ritam-baishya-ROVBDer29PQ-unsplash.jpg
  src/constants/backdrops.ts
  src/pages/dashboard.tsx
Due: eslint, prettier

refactor: componentize the table
  src/components/ui/table.tsx
  src/pages/dashboard.tsx
Due: eslint, prettier

refactor: componentize the List
  src/components/ui/list.tsx
  src/pages/dashboard.tsx
Due: eslint, prettier

refactor: move useToast to hooks folder
  src/components/ui/toaster.tsx
  src/hooks/use-toast.ts
  src/pages/dashboard.tsx
Due: eslint, prettier

fix: mock match.media in Vitest
  src/mocks/match-media.ts
  src/tests/setup.ts
Due: eslint, prettier

refactor: sort classes with TailwindCSS Prettier plugin
  .prettierrc
  package.json
  pnpm-lock.yaml
  src/components/ui/combobox.tsx
  src/components/ui/input.tsx
  src/components/ui/list.tsx
  src/components/ui/logo.tsx
  src/components/ui/table.tsx
  src/components/ui/toast.tsx
  src/pages/dashboard.tsx
Due: eslint, prettier

refactor: sort imports with Trivago Prettier plugin
  .prettierrc
  package.json
  pnpm-lock.yaml
  src/api/forecast/fetchers.ts
  src/api/forecast/hooks.ts
  src/api/forecast/schemas.ts
  src/api/weather/fetchers.ts
  src/api/weather/hooks.ts
  src/api/weather/schemas.ts
  src/app.tsx
  src/components/ui/combobox.stories.tsx
  src/components/ui/combobox.tsx
  src/components/ui/label.tsx
  src/components/ui/separator.tsx
  src/components/ui/toast.tsx
  src/constants/backdrops.ts
  src/hooks/use-debounce.ts
  src/hooks/use-media-query.ts
  src/hooks/use-theme.ts
  src/main.tsx
  src/mocks/forecast/index.ts
  src/mocks/handlers.ts
  src/mocks/weather/index.ts
  src/pages/dashboard.tsx
  src/providers.tsx
  src/tests/dashboard.test.tsx
  src/tests/setup.ts
  src/utils/capitalize-words.test.ts
  src/utils/format-date.test.ts
  src/utils/format-hour.test.ts
  src/utils/get-weather-condition-data.tsx
  src/utils/transform-backdrops.ts
Due: eslint, prettier

feat: implement responsive for desktop
  src/pages/dashboard.tsx
Due: eslint, prettier

chore: configure coverage with V8
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  postcss.config.js
  public/mockServiceWorker.js
  src/components/ui/combobox.stories.tsx
  src/main.tsx
  tailwind.config.js
Due: eslint, prettier

refactor: remove unused utils file
  src/utils.ts
Due: eslint, prettier

chore: install Vitest UI
  README.md
  package.json
  pnpm-lock.yaml
Due: none

chore: test transformBackdrops utility function
  src/utils/transform-backdrops.test.ts
  src/utils/transform-backdrops.ts
  tailwind.config.js
Due: eslint, prettier

chore: mock forecast endpoint
  src/mocks/forecast/default.json
  src/mocks/forecast/index.ts
Due: eslint, prettier

refactor: remove unused imports
  src/app.tsx
Due: eslint, prettier

feat: update the 404 error toast message
  src/pages/dashboard.tsx
Due: eslint, prettier

chore: disable react-query retries in tests
  src/app.tsx
  src/main.tsx
  src/providers.tsx
  src/tests/dashboard.test.tsx
Due: eslint, prettier

chore: update Prettier import order
  .prettierrc
Due: none

fix: multiply the dt coming from OpenWeatherMap by 1000
  src/pages/dashboard.tsx
  src/utils/format-date.test.ts
Due: eslint, prettier

chore: update the collage link in README.md
  README.md
Due: none

feat: add photo author annotation
  src/pages/dashboard.tsx
  src/utils/get-weather-condition-data.tsx
Due: eslint, prettier
